.auth__layout__section{
    background-color: var(--background-gray);
    
    background-repeat: repeat;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 10px;
    
}

.auth__container{
    width: 100%;
    background-color: var(--forms-bg);
    border-radius: 10px;
    padding: 50px 60px;
}

.auth__container h1{
    color: var(--header-color);
}

.form__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
