@{
    Layout = "Layouts/_Layout";
}

<div class="banner">
    <img src="/logo-banner.png" alt="Описание изображения" class="banner-image">
    <h1 class="banner-text">Крутая платформа для платформы</h1>
</div>
<section class="news-feed">
    
    <!-- Блоки новостей -->
    <article class="news-item">
        <img class="news-img" src="https://via.placeholder.com/300" alt="Новости 1">
        <div class="text-block">
            <h2>Заголовок новости 1</h2>
            <p>Краткое описание новости 1. Тут может быть текст о чем идет речь в новости.</p>
        </div>
    </article>


    <article class="news-item">
        <img class="news-img" src="https://via.placeholder.com/300" alt="Новости 1">
        <div class="text-block">
            <h2>Заголовок новости 1</h2>
            <p>Краткое описание новости 1. Тут может быть текст о чем идет речь в новости.</p>
        </div>
    </article>
</section>