<!doctype html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- CSS-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    
    <link rel="stylesheet" href="~/css/base.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true"/>
    
    
    <title>Фестиваль "СТАРТ" - @ViewBag.Title</title>
</head>
<body>
<header>
    <div class="container">
        
    </div>
</header>

<style>
    .auth__layout__section{
        background-image: url("@Url.Content("~/assets/bg/auth.svg")");
    }
</style>

<section class="auth__layout__section">
    <main>
        @RenderBody()
    </main>
</section>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://rawgit.com/RobinHerbots/Inputmask/4.x/dist/jquery.inputmask.bundle.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

