@{ 
    
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>СТАРТ - @ViewBag.Title</title>

    <link rel="stylesheet" href="~/css/layout/index.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/base.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/net.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/medals.css" asp-append-version="true">
</head>
<body>
<header>
    <div class="logo">
        <img class="logo-img" src="/main-logo.png" alt="">
    </div>
    <div class="menu-icon" id="menu-toggle">&#9776;</div>
    <nav id="navbar">
        <ul>
            <li><a asp-action="Index" asp-controller="Home">Главная</a></li>
            <li><a asp-action="Index" asp-controller="Home" asp-fragment="news-feed">Новости</a></li>
            <li><a asp-action="Index" asp-controller="Admin">Панель администратора</a></li>
            <li><a href="#">О нас</a></li>
        </ul>
        <div class="account-icon">
            @{
                if (!User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Auth" asp-action="Login" title="Личный кабинет">
                        Войти в личный кабинет
                    </a>
                }
                else
                {
            <div class="auth__block">
                <a asp-controller="PersonalAccount" asp-action="Index" title="Личный кабинет" id="authIcon">
                    <img src="~/assets/profile.svg" alt="Иконка Личного кабинета">
                </a>
                <a asp-controller="Auth" asp-action="Logout" title="Личный кабинет">
                    Выйти
                </a>
            </div>
                   
                }
            }
           
        </div>
    </nav>
</header>
<main>
    @RenderBody()
</main>
<script>
    document.getElementById('menu-toggle').onclick = function() {
        const navbar = document.getElementById('navbar');
        navbar.classList.toggle('active');
    };
</script>
</body>
</html>
