
@{
    ViewBag.Title = "title";
    Layout = "Layouts/_AdminLayout";
}

<div class="container">
    <h2 class="mt-4">Игровая сетка</h2>
    <p>В данный момент это не привязанная турнирная сетка. Но данный вопрос прорабатывается, не удалось реализовать из-за нехватки времени.</p>

    <section class="net">
        <div class="container__section">
            <div class="theme theme-dark">
                <div class="bracket disable-image">
                    <div class="column one">
                        <div class="match winner-top">
                            <div class="match-top team">
                                <span class="image"></span>
                                <span class="seed">1</span>
                                <span class="name">Orlando Jetsetters</span>
                                <span class="score">2</span>
                            </div>
                            <div class="match-bottom team">
                                <span class="image"></span>
                                <span class="seed">8</span>
                                <span class="name">D.C. Senators</span>
                                <span class="score">1</span>
                            </div>
                            <div class="match-lines">
                                <div class="line one"></div>
                                <div class="line two"></div>
                            </div>
                            <div class="match-lines alt">
                                <div class="line one"></div>
                            </div>
                        </div>
                        <div class="match winner-bottom">
                            <div class="match-top team">
                                <span class="image"></span>
                                <span class="seed">4</span>
                                <span class="name">New Orleans Rockstars</span>
                                <span class="score">1</span>
                            </div>
                            <div class="match-bottom team">
                                <span class="image"></span>
                                <span class="seed">5</span>
                                <span class="name">West Virginia Runners</span>
                                <span class="score">2</span>
                            </div>
                            <div class="match-lines">
                                <div class="line one"></div>
                                <div class="line two"></div>
                            </div>
                            <div class="match-lines alt">
                                <div class="line one"></div>
                            </div>
                        </div>
                        <div class="match winner-top">
                            <div class="match-top team">
                                <span class="image"></span>
                                <span class="seed">2</span>
                                <span class="name">Denver Demon Horses</span>
                                <span class="score">2</span>
                            </div>
                            <div class="match-bottom team">
                                <span class="image"></span>
                                <span class="seed">7</span>
                                <span class="name">Chicago Pistons</span>
                                <span class="score">0</span>
                            </div>
                            <div class="match-lines">
                                <div class="line one"></div>
                                <div class="line two"></div>
                            </div>
                            <div class="match-lines alt">
                                <div class="line one"></div>
                            </div>
                        </div>
                        <div class="match winner-top">
                            <div class="match-top team">
                                <span class="image"></span>
                                <span class="seed">3</span>
                                <span class="name">San Francisco Porters</span>
                                <span class="score">2</span>
                            </div>
                            <div class="match-bottom team">
                                <span class="image"></span>
                                <span class="seed">6</span>
                                <span class="name">Seattle Climbers</span>
                                <span class="score">1</span>
                            </div>
                            <div class="match-lines">
                                <div class="line one"></div>
                                <div class="line two"></div>
                            </div>
                            <div class="match-lines alt">
                                <div class="line one"></div>
                            </div>
                        </div>
                    </div>
                    <div class="column two">
                        <div class="match winner-bottom">
                            <div class="match-top team">
                                <span class="image"></span>
                                <span class="seed">1</span>
                                <span class="name">Orlando Jetsetters</span>
                                <span class="score">1</span>
                            </div>
                            <div class="match-bottom team">
                                <span class="image"></span>
                                <span class="seed">5</span>
                                <span class="name">West Virginia Runners</span>
                                <span class="score">2</span>
                            </div>
                            <div class="match-lines">
                                <div class="line one"></div>
                                <div class="line two"></div>
                            </div>
                            <div class="match-lines alt">
                                <div class="line one"></div>
                            </div>
                        </div>
                        <div class="match winner-bottom">
                            <div class="match-top team">
                                <span class="image"></span>
                                <span class="seed">2</span>
                                <span class="name">Denver Demon Horses</span>
                                <span class="score">1</span>
                            </div>
                            <div class="match-bottom team">
                                <span class="image"></span>
                                <span class="seed">3</span>
                                <span class="name">San Francisco Porters</span>
                                <span class="score">2</span>
                            </div>
                            <div class="match-lines">
                                <div class="line one"></div>
                                <div class="line two"></div>
                            </div>
                            <div class="match-lines alt">
                                <div class="line one"></div>
                            </div>
                        </div>
                    </div>
                    <div class="column three">
                        <div class="match winner-top">
                            <div class="match-top team">
                                <span class="image"></span>
                                <span class="seed">5</span>
                                <span class="name">West Virginia Runners</span>
                                <span class="score">3</span>
                            </div>
                            <div class="match-bottom team">
                                <span class="image"></span>
                                <span class="seed">3</span>
                                <span class="name">San Francisco Porters</span>
                                <span class="score">2</span>
                            </div>
                            <div class="match-lines">
                                <div class="line one"></div>
                                <div class="line two"></div>
                            </div>
                            <div class="match-lines alt">
                                <div class="line one"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
