header {
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF0000;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.logo-img {
    height: 2vw;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
   
    margin-right: 1vw;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;

}

.account-icon img {
    height: 24px;
    width: 24px;
}

.news-feed {
    padding: 1vw 4vw;
    padding-top: 7vw;
}

.news-item {
    margin-bottom: 20px;
    display: flex;
    justify-content: start;
    gap: 3vw;
}

.text-block{
    margin-top: 20px;
}

.text-block h2{
    margin-bottom: 30px;
}

.text-block p{
    font-size: 16px;
}

.news-item img {
    max-width: 100%;
}
.banner {
    background-color: red;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner-image {
    margin-top: 5vw;
    max-width: 100%;
    height: auto;
}

.news-img {
    width: 20%;
    height: 20%;
}

.banner-text {
    font-family: 'Druk Text Wide Cyr', sans-serif;
    color: white;
    text-align: center;
}

@media (max-width: 768px) {
    .news-img {
        width: 50%;
        height: 50%;
    }
    .banner-image {
        max-width: 80%;
    }
    .menu-icon {
        display: block;
    }

    header{
        width: 93%;
    }

    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #c50000;
    }

    nav.active {
        display: flex;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    .logo-img {
        height: 5vw;
    }
}

