@model StartOdin.Domain.ViewModels.Auth.LoginViewModel

@{
    ViewBag.Title = "Авторизация";
    Layout = "Layouts/_AuthLayout";
}

<div class="auth__container">
    <div class="form__header">
        <div class="logo">
            <img src="~/assets/logo.svg" alt="Логотип организации">
        </div>
        <a asp-action="Index" asp-controller="Home">На главную</a>
    </div>


    <h1>Войти в аккаунт</h1>

    <form asp-action="Login" asp-controller="Auth" method="post">
        <!-- Электронная почта -->
        <div class="input__container" style="margin-top: 40px">
            <label for="email">Электронная почта</label>
            <input type="email" id="email" asp-for="Email">
        </div>
        
        <!-- Пароль участника -->
        <div class="input__container">
            <label for="password">Введите пароль</label>
            <input type="password" id="password" asp-for="Password">
        </div>


        <!-- Согласен с правилами проведения -->
        <div style="margin-top: 30px">
            <input type="checkbox" id="agree" asp-for="RememberMe">
            <label for="">Запомнить меня в будущем</label>
        </div>

        <div asp-validation-summary="ModelOnly" style="color: red; text-decoration: none"></div>
        <div class="button__container">
            <button>Войти</button>
        </div>

        <a asp-action="Register" asp-controller="Auth" style="margin-top: 30px">
            У меня нет аккаунта?
        </a>

    </form>
</div>
